
  <div class="neuro-title-card">
    <div class="admin-title">
      <h2>Manage Events</h2>
      <button class="btn btn-primary" (click)="goToEvent()">Create</button>
    </div>
  </div>
  <div class="mt-2 neuro-title-card">
    <div class="pt-3 pb-3" *ngIf="events && events.length > 0">
      <app-events-table
        [profileTableData]="events"
        [isAdmin]="isAdmin"
      ></app-events-table>
    </div>
    <div class="row mt-3" *ngIf="events.length === 0">
      <h3>No Events</h3>
    </div>
  </div>

