


.app-logo {
    height: 50px;
    width: auto;
}
.nav-link {
    //color: #00b4d8 !important;
    color:rgb(33, 57, 121);
    font-weight:700;
}
.menu-list {
    background-color: rgb(197, 234, 250)!important;;
    //background-color: #fff;
}
.menu-list {
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}
.navbar {
    border: 1px solid rgb(197, 234, 250);
    
    background-color: rgb(197, 234, 250);
}

nav .navbar-nav li a {
    &:active {
        background-color: rgb(33, 57, 121);
        font-weight: bold;
    }
}
nav .navbar-nav li .dropdown-item {
    &:active {
        background-color: rgb(33, 57, 121);
        font-weight: bold;
    }
}



