<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      height: 56px;
    "
  >
    <img src="../../assets/img/logo.png" [routerLink]="'/login'" alt="Basic Neuro Logo" width="72px" style="cursor: pointer;"/>
    <h1 style="font-size: 20px; font-weight: 600">BASIC NEUROLOGY</h1>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor03"
    aria-controls="navbarColor03"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarColor03"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav menu-list">
      <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" [routerLink]="'/home'">Dashboard</a>
      </li>
      <!-- <li class="nav-item" *ngIf="loggedIn">
        <a class="nav-link" [routerLink]="'/profiles'">Admin</a>
      </li> -->

      <li class="nav-item dropdown" *ngIf="loggedIn && isAdmin">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink3"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Admin
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
          <li class="dropdown-item">
            <a class="dropdown-item" [routerLink]="'/manage-users'" href="#"
              >Manage Users</a
            >
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" [routerLink]="'/admin/events'" href="#"
              >Manage Events</a
            >
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" [routerLink]="'/manage-course'" href="#">
              Manage Course</a
            >
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" [routerLink]="'/manage-videos'" href="#"
              >Manage Videos</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav menu-list">
      <li class="nav-item" *ngIf="loggedIn" (click)="logout()">
        <a class="nav-link">Logout</a>
      </li>
    </ul>
    
  </div>
</nav>
