<div class="forgot_passwordContainer">
    <div class="forgot_passwordMain">
        <form class="forgot_passwordModules">
            <h2 class="">Forgot Password?</h2>
            <label class="forgot_passwordlabel">Username</label>
            <input type="text" class="forgot_passwordInput" name="userName" />
            <label class="forgot_passwordlabel">Email</label>
            <input type="email" class="forgot_passwordInput" name="email" />

            <div class="row">
                <button class="neuro-btn disabled"   (click)="onSubmit()">Submit</button>
            </div>

            <div class="row text-center">
                <a [routerLink]="'/login'">Back</a>
            </div>

        </form>
    </div>
</div>